.post {
  grid-column-start: 2;

  .postMeta {
    display: flex;
    margin: 1.5rem 0;
    h3, .date {
      width: 50%;
      margin: 0;
      line-height: 1rem;
      text-align: left;
    }
    .date {
      font-style: italic;
      vertical-align: baseline;
      color: $light-grey;
      font-size: 0.8rem;
      text-align: right;
    }
    .body {
      text-align: justify;
    }
  }

}
