$dark-grey: #333333;
$light-grey: #424242;
$light-blue: #00CCD6;
$light-white: #EFEFEF;
$sharp-yello: #FFD900;

* {
  transition: all ease-in-out 0.4s;
}

h1, h2 {
  font-weight: normal;
  + span {
    font-style: italic;
  }
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: $light-blue;
  text-decoration: none;
  border-bottom: 0;
  &:hover {
    border-bottom: 1px dashed $light-blue;
  }
}
#back {
  position: absolute;
  top: 30px;
  left: 30px;
}
